*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

#My
/app/src/androidTest
/app/src/test
/app/debug
/app/release
/app/libs
